@import url('http://fonts.googleapis.com/css?family=Cabin+Condensed')
@import url('http://fonts.googleapis.com/css?family=Roboto')
@import url('http://fonts.googleapis.com/css?family=Noto+Sans')
@import 'nib/gradients'
@import 'nib/vendor'

vendor-prefixes = o ms moz webkit official

/*
*
	margin: 0
	padding: 0
*/
.spnType
	//background: gray
	border-radius: 14px
	color: white
	display: inline-block
	//padding: 2px 11px 4px 10px
	padding: 4px 1px 4px 0
	position: relative
	text-align: center
	text-shadow: 0 0 10px black
	width: 100px
	box-shadow: 0px 1px 5px gray
	//z-index: 1


.spnTypeGrass
	background: #34C339//rgb(52, 195, 57)
.spnTypeFire
	background: #F97415//rgb(249, 116, 21)
.spnTypeWater
	background: #3595FC//rgb(53, 149, 252)
.spnTypeBug
	background: #82E01E//rgb(130, 224, 30)
.spnTypePoison
	background: #8620A2//rgb(134, 32, 162)
.spnTypeFlying
	background: #A3C2DA//rgb(163, 194, 218)
.spnTypeNormal
	background: #C1B69D//rgb(193, 182, 157)
.spnTypeElectric
	background: #F2E20B//rgb(242, 226, 11)
.spnTypeGround
	background: #D2AC44//rgb(210, 172, 68)
.spnTypeRock
	background: #89712D//rgb(137, 113, 45)
.spnTypeSteel
	background: #9E9E9E//rgb(158, 158, 158)
.spnTypeFight
	background: #CA1111//rgb(202, 17, 17)
.spnTypePsychic
	background: #EA427D//rgb(234, 66, 125)
.spnTypeGhost
	background: #352269//rgb(53, 34, 105)
.spnTypeDark
	background: #46380A//rgb(70, 56, 10)
.spnTypeIce
	background: #4DDFE4//rgb(77, 223, 228)
.spnTypeDragon
	background: #4C06C5//rgb(76, 6, 197)
.spnTypeFairy
	background: #EF99BD//rgb(239, 153, 189)


















body, html
	//font-family: "Cabin Condensed", Helvetica neue, Helvetica, Arial, Sans-serif
	//font-family: "RobotoDraft", Helvetica neue, Helvetica, Arial, Sans-serif
	font-family: "Roboto", "Noto Sans", Helvetica neue, Helvetica, Arial, Sans-serif
	margin: 0
	padding: 0
	position: relative

div, header, nav, section, footer, article, aside, input, textarea, button, iframe, audio, video, img, embed, table, tr, th, td
	margin: 0
	padding: 0


header
	background: red
	display: block
	//height: 50px
	position: fixed
	top: 0
	width: 100%
	z-index: 2
	box-shadow: 0px 1px 5px gray
	nav
		background: green
		margin: 0 auto
		padding: 10px 0
		position: relative
		//position: fixed
		vertical-align: middle
		//width: 1100px
		text-align: center
		.text
			//border: 1px solid orange
			//margin: 0 auto
			border: 0
			//border-radius: 10px
			display: block
			font-size: 20px
			outline: none
			padding: 8px 0 8px 10px
			width: 1090px


footer
	background: blue
	display: block
	height 50px




#secGeneral
	//background: yellow
	background: #e2e2e2
	display: block
	min-height: 500px
	//margin-top: 10px
	padding-top: 64px
	padding-bottom: 1px
	#secPrincipal
		//background: #f2f2f2
		display: block
		margin: 0 auto
		max-width: 1100px
		min-height: 400px
		font-size: 30px
		#secName
			//background: #f2f2f2
			display: block
			margin: 0
			padding: 5px 0 5px 10px
		#secFirstLook
			background: white
			display: block
			position: relative
			box-shadow: 0px 3px 10px gray
			section
				display: inline-block
				vertical-align: top
				margin-right: -2px
				margin-left: 0
			#secImage
				background: white
				//box-shadow: 0px 3px 10px gray
				width: 300px
				height: 300px
				position: relative
				text-align: center
				margin: 5px
				img
					max-width: 100%
					max-height: 100%
					position:absolute
					margin: auto
					top: 0
					bottom: 0
					left: 0
					right: 0
			
			#secStartInfo
				//background: orange
				//min-width: 300px
				//width: 790px
				//section
				//background: #e2e2e2
				//background: pink
				display: inline-block
				margin-bottom: 1px
				//padding: 8px 0 0 10px
				padding: 10px 0 0 0
				//vertical-align: top
				font-size: .6em
				
				vertical-align: middle
				//height: 150px
				height: 290px
				.blcSpec
					cursor: default
					display: block
					padding: 0 0 0 10px
					margin-bottom: 10px
					//transition: all .1s ease-in
					//&:hover
					//	background: #a2a2a2
					//	color: white
					//	transition: all .1s ease-out
					span
						color: gray
						display: block
						font-size: .9em
				//#secBasicInfo
				//width: 210px
				//width: 788px
				//height: 290px
				//font-size: 1.2em
				//display: block				
				//url de diseno de garfica tipo pastel
				//http://codepen.io/AtomicNoggin/pen/fEish?editors=110
				/*
				.pie
					position: absolute
					//width: 100px
					width: 50px
					//height: 200px
					height: 100px
					overflow: hidden
					//left: 150px
					left: 100px
					//left: 120px
					transform-origin: left center
					&:before
						content: ""
						position: absolute
						//width: 100px
						width: 50px
						//height: 200px
						height: 100px
						//left: -100px
						left: -50px
						//border-radius: 100px 0 0 100px
						border-radius: 50px 0 0 50px
						transform-origin: right center
				.pie.big
					//width: 200px
					width: 100px
					//height: 200px
					height: 100px
					left: 50px
					//left: 20px
					transform-origin: center center
					&:before
						left: 0
					&:after
						content: ""
						position: absolute
						//width: 100px
						width: 50px
						//height: 200px
						height: 100px
						//left: 100px
						left: 50px
						//border-radius: 0 100px 100px 0
						border-radius: 0 50px 50px 0
				.pie:nth-of-type(1):before, .pie:nth-of-type(1):after
					background-color: blue
				.pie:nth-of-type(2):after, .pie:nth-of-type(2):before
					background-color: green	
				.pie:nth-of-type(3):after, .pie:nth-of-type(3):before
					background-color: red
				.pie:nth-of-type(4):after, .pie:nth-of-type(4):before
					background-color: orange
				.pie[data-start="30"]
					transform: rotate(30deg)
				.pie[data-start="60"]
					transform: rotate(60deg)
				.pie[data-start="100"]
					transform: rotate(100deg)
				.pie[data-value="30"]:before
					transform: rotate(31deg)
				.pie[data-value="40"]:before
					transform: rotate(41deg)
				.pie[data-value="260"]:before
					transform: rotate(260deg)
				*/
				//url de la segunda alternativa de grafico pastel en css
				//http://www.kylejlarson.com/blog/2011/how-to-create-pie-charts-with-css3/
				/*
				#pieSlice2
					transform: rotate(220deg)
				#pieSlice2 .pie
					background: pink
					transform: rotate(25deg)
				*/
				//Consideracion: .pieBackground debe ser para uno de los generos si cada uno tiene 50%. 
				//               .pieBackground tendra como color principal uno del los generos que supere el 50%
				//               #pieSlice1 va a rotar dependiendo del genero que no iguale al 50% y se posicionara del lado de uno de los generos.
				//               #pieSlice1 .pie tendra como color principal uno de los generos que no iguale al 50% y ajustara su dimension de acuerdo al porcentaje ganado
		#secOtherSpecifications
			//background: yellow
			display: block
			//width: 20px
			min-height: 20px
			.secSecond
				display: block
				box-shadow: 0px 2px 5px gray
				.thirdTitle, .thirdContent
					//display: block
					//color: white
					//background: #e2e2e2
					background: white
					color: #323035
				.thirdTitle
					display: block
					//background: red
					font-size: .7em
					padding: 10px 0 8px 10px
					margin-top: 3px
					//&:hover
					//	background: #E73131
				.thirdContent
					//display: none
					display: block
					//background: #e2e2e2
					//color: #323035
					font-size: .6em
					margin-bottom: 50px
					padding: 5px 0 10px 0
					.blcSpec
						padding-left: 10px
						padding-bottom: 10px
						span
							font-size: .9em
							color: gray
							display: block
					.text-align-center
						text-align: center
					.evolutions
						display: block
						.evolution-chain
							display: block
							padding-bottom: 20px
							//background: orange
							//.stage-1, .stage-2, .stage-3
							.stage-current, .stage-passed, .stage-next
								display: inline-block
								vertical-align: top
								//background: #47FA00
								//background: #009587
								width: 100px
								height: 100px
								position: relative
								border-radius: 50%
								z-index: 1
								img
									//padding-top: 25px
									position: absolute
									top: 34px
									left: 34px
							.stage-current
								background: white
								border: 8px solid #16B2A3
								width: 84px
								height: 84px
								img
									position: absolute
									top: 26px
									left: 26px
							.stage-passed
								background: #C0CBBB
								transition: box-shadow .5s ease
								&:hover
									box-shadow: 0px 3px 10px gray
							.stage-next
								background: #16B2A3
								transition: box-shadow .5s ease
								&:hover
									box-shadow: 0px 3px 10px gray
							.transition
								display: inline-block
								vertical-align: top
								//background: yellow
								background: white
								position: relative
								//width: 120px
								width: 250px
								height: 120px
								margin-left: -10px
								margin-right: -10px
								z-index: 0
								.line, .line-passed
									display: block
									//position: absolute
									height: 40px
									//background: #47FA00
									margin-top: 30px
									color: white
									span
										//background: blue
										border-radius: 50%
										vertical-align: middle
										width: 28px
										height: 28px
										display: inline-block
										margin-top: 5px
										&:before
											margin: 0
											margin-top: 2px
											display: block
									.happiness
										background: #F90844
									.daylight
										background: #1DBEF9
										&:before
											color: #F1FF23
									.night
										background: #190C9F
									.location
										background: white
										&:before
											color: #F71313
									.movement
										background: white
										&:before
											color: #B5AEAE
									.trade
										background: white
										&:before
											color: #13A4F2
									.male
										background: #2354E7
									.female
										background: #EB0858
									.beautiful
										background: white
										&:before
											color: #51A5EE
									.ally
										background: #E5081A
									.console-upside-down
										background: black
										&:before
											transform: rotate(180deg)
									.rain
										background: #B7DAF9
										&:before
											color: #3095ED
									img
										background: #DFE7A6
										margin: 0
										display: inline-block
										vertical-align: middle
										border-radius: 50%
										padding: 2px
										margin-top: 5px
									.pokemon
										background: white
										position: relative
										img
											background: transparent
											//margin: 0
											margin: -2px 0 0 -2px
											padding: 0
											position: absolute
											top: 0
											left: 0
								.line
									//background: #47FA00
									background: #16B2A3
								.line-passed
									background: #C0CBBB
								.line-desc
									font-size: .7em
						.mega-evolution-chain
							display: block
							.evolution-init, .mega-evolution-list
								display: inline-block
								vertical-align: middle
								.mega-evolution-option
									display: inline-block
									background: white
									margin: 5px 0 0 5px
									box-shadow: 0px 1px 5px gray
							.stage-padding, .transition, .mega-specifications
								display: inline-block
								vertical-align: middle
							.stage-padding
								background: white
								//background: linear-gradient(top, rgba(248,53,206,1) 0%, rgba(248,53,206,1) 4%, rgba(245,20,185,1) 14%, rgba(6,54,244,1) 24%, rgba(15,219,255,1) 35%, rgba(52,244,129,1) 45%, rgba(0,240,64,1) 53%, rgba(128,240,0,1) 62%, rgba(255,243,20,1) 71%, rgba(255,208,20,1) 80%, rgba(255,161,20,1) 88%, rgba(255,83,20,1) 97%, rgba(255,83,20,1) 100%)
								//background: -webkit-linear-gradient(top, rgba(248,53,206,1) 0%, rgba(248,53,206,1) 4%, rgba(245,20,185,1) 14%, rgba(6,54,244,1) 24%, rgba(15,219,255,1) 35%, rgba(52,244,129,1) 45%, rgba(0,240,64,1) 53%, rgba(128,240,0,1) 62%, rgba(255,243,20,1) 71%, rgba(255,208,20,1) 80%, rgba(255,161,20,1) 88%, rgba(255,83,20,1) 97%, rgba(255,83,20,1) 100%);
								width: 160px
								height: 160px
								//border: 7px solid red
								border-radius: 50%
								//border-image: linear-gradient(top, rgba(248,53,206,1) 0%, rgba(248,53,206,1) 4%, rgba(245,20,185,1) 14%, rgba(6,54,244,1) 24%, rgba(15,219,255,1) 35%, rgba(52,244,129,1) 45%, rgba(0,240,64,1) 53%, rgba(128,240,0,1) 62%, rgba(255,243,20,1) 71%, rgba(255,208,20,1) 80%, rgba(255,161,20,1) 88%, rgba(255,83,20,1) 97%, rgba(255,83,20,1) 100%)
								.stage-simple
									//display: inline-block
									//vertical-align: top
									background: transparent
									width: 110px
									height: 110px
									position: relative
									//border-radius: 50%
									z-index: 1
									top: 50%
									left: 50%
									margin-right: -50%
									transform: translate(-50%, -50%)
									img
										max-width: 100%
										max-height: 100%
										position:absolute
										margin: auto
										top: 0
										bottom: 0
										left: 0
										right: 0
							.transition
								.line
									background: gray
									display: block
							.mega-specifications
								text-align: left
								//width: 170px
								padding-right: 20px
								div
									font-size: .9em
									margin-top: 10px
									span
										font-size: .8em
										color: gray
										display: block
										position: relative
										img
											position: absolute
											top: 0
											right: 100%
											margin-top: -5px
					.ability-general
						//background: purple
						color: white
						padding: 0 10px 0 10px
						.ability-normal, .ability-hidden
							border-radius: 20px
							box-shadow: 0px 1px 5px gray
							display: block
							padding: 5px 8px 5px 10px
							span
								background: white
								border-radius: 50%
								display: inline-block
								height: 30px
								line-height: 30px
								margin-right: 5px
								margin-left: -5px
								text-align: center
								width: 30px
								&:before
									margin: 0
						.ability-normal
							background: #07D846
							span
								color: #07D846
						.ability-hidden
							background: #F21CF2
							span
								color: #F21CF2
					//#artNormalAbilities, #artHiddenAbilities
					//	display: inline-block
					//	vertical-align: top
					//	max-width: 540px
					//	//width: 540px
					//	margin-right: -3px
					//	min-height: 120px
					//	span:before
					//		margin: 0
					//	p
					//		padding-left: 20px
					//		padding-right: 15px
					//#artNormalAbilities
					//	background: #1DE559
					//#artHiddenAbilities
					//	background: #F21CF2
					.stats
						//background: purple
						display: inline-block
						font-size: .9em
						width: 170px
						height: 130px
						text-align: center
						vertical-align: top
						span
							//background: blue
							color: white
							display: block
							margin: auto
							margin-bottom: 5px
							width: 100px
							height: 100px
							border-radius: 50%
							&:before
								margin: 0
								display: block
								padding-top: 25px
								font-size: 50px//No se tocan los tamanos, dejarlo asi
						.spn-HP
							background: #0BD20B
						.spn-Atk
							background: #FDC017
						.spn-Def
							background: #F18A0D
						.spn-Special-Atk
							background: #00ADE7
						.spn-Special-Def
							background: #1752D1
						.spn-Spd
							background: #CE31D9
					.pokedex-regions
						display: inline-block
						vertical-align: top
						width: 150px
						font-size: .9em
						span
							background: blue
							border-radius: 50%
							color: white
							font-size: 30px
							width: 100px
							height: 100px
							display: block
							line-height: 100px
							margin: 0 auto
							margin-bottom: 5px
							//box-shadow: 0px 5px 1px black
						//.spn-red-green-ver
						//	background: linear-gradient(to right, red 50%, blue 50%)
					.flags
						//background: purple
						display: inline-block
						font-size: .9em
						width: 120px
						height: 130px
						text-align: center
						padding: 0 30px
						position: relative
						vertical-align: top
						div
							display: block
							height: 70px
							//background: red
						.flag-portrait
							box-shadow: 0px 1px 5px black
							margin-bottom: 5px
						.french
							background: linear-gradient(to right, blue 33%, white 33%, white 67%, red 67%)
							//background: linear-gradient(to right, blue 33.33%, white 33.33%, white 66.66%, red 66.66%)
						.german
							background: linear-gradient(top, black 33%, red 33%, red 67%, yellow 67%)
						.japanese
							background: white
							&:before
								content: ""
								display: block
								width: 36px
								height: 36px
								background: red
								border-radius: 50%
								margin: auto
								position: relative
								top: 17px
						.korean
							background: white
							position: relative
							.taegeukgi
								width: 36px
								height: 36px
								border-radius: 100%
								background: linear-gradient(-135deg, #c60c30 50%,#003478 50%)
								position: absolute
								top: 17px
								right: 42px
								&:before, &:after
									width: 18px
									height: 18px
									border-radius: 100%
									position: absolute
									content: ""
								&:before
									background: #c60c30
									top: 5px
									left: 1px
								&:after
									background: #003478
									bottom: 5px
									right: 1px
							.trigram
								width: 4px
								height: 20px
								position: absolute

							.geon:before, .geon:after, 
							.ri:before, .ri:after, 
							.gam:before, .gam:after,
							.gon:before, .gon:after
								content: ""
								width: 4px
								height: 20px
								position: absolute

							.geon, .geon:before, .geon:after,
							.ri:before, .ri:after,
							.gam
								background: black

							.ri, .gon, 
							.gon:before, .gon:after,
							.gam:before, .gam:after
								background:linear-gradient(to bottom, #000000 0%,#000000 50%,#ffffff 50%,#ffffff 55%,#000000 55%,#000000 100%)
							
							.geon:before,
							.ri:before,
							.gam:before,
							.gon:before
								left: 5px

							.geon:after,
							.ri:after,
							.gam:after,
							.gon:after
								right: 5px

							.geon, .ri
								left: 25%
							.gam, .gon
								right: 25%
							.geon, .gam
								top: 8%
							.gon, .ri
								bottom: 8%

							.ri, .gam
								transform: rotate(-30deg)
							.geon, .gon
								transform: rotate(30deg)
							

						

					.pieGenderContainer
						//background: purple
						height: 100px
						//padding-left: 10px
						//padding: 0 10px
						width: 100px
						margin: 0 auto
						.pieBackground
							//background: gray
							background: pink
							position: absolute
							width: 100px
							height: 100px
							border-radius: 50px
							//display: block
						.pie
							position: absolute
							width: 100px
							height: 100px
							border-radius: 50px
							clip: rect(0px, 50px, 100px, 0px)
						.hold
							position: absolute
							width: 100px
							height: 100px
							border-radius: 50px
							clip: rect(0, 100px, 100px, 50px)
						#pieSlice1
							transform: rotate(0deg)
						#pieSlice1 .pie
							background: blue
							//transform: rotate(50deg)
							transform: rotate(90deg)
					.spn-gender-male, .spn-gender-female
						//background: yellow
						color: white
						display: inline-block
						border-radius: 50%
						height: 40px
						width: 40px
						vertical-align: middle
						margin-right: 5px
						&:before
							display: block
							margin: 0
							position: relative
							text-align: center
							top: 25%
					.spn-gender-male
						background: blue
					.spn-gender-female
						background: pink
					.graph-gender
						//background: gray
						border-left: 2px solid #BDBDBD
						border-bottom: 2px solid #BDBDBD
						display: block
						margin-left: 70px
						margin-right: 70px
						margin-bottom: 10px
						text-align: left
						font-size: .9em
						padding-top: 4px
						padding-bottom: 4px
						ul
							list-style-type: none
							padding: 0
							margin: 0
							li
								padding: 4px 0
								.gender-label
									display: inline-block
									//background: blue
									width: 56px
									margin-left: -62px
								.female-bar, .male-bar
									display: inline-block
									//width: 100%
									height: 40px
									vertical-align: middle
									position: relative
									&:after
										content: attr(data-value)
										position: absolute
										top: 9px
										left: 100%
										margin-left: 5px
										font-weight: 900
								.female-bar
									background: #F50057
									border-left: 2px solid #D50000
									&:after
										color: #F50057
									&:hover
										box-shadow: 0px 0px 10px #F50057
								.male-bar
									background: #1565C0
									border-left: 2px solid #1A237E
									&:after
										color: #1565C0
									&:hover
										box-shadow: 0px 0px 10px #1565C0
								//.percentage-label
								//	background: yellow






























.container
	margin: 0 auto
	max-width: 750px
	text-align: center
.tt-dropdown-menu, .gist
	text-align: left
/*
html
	color: #333333
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 18px
	line-height: 1.2
*/
.title, .example-name
	font-family: Prociono
p
	margin: 0 0 10px
.title
	font-size: 64px
	margin: 20px 0 0
.example
	padding: 30px 0
.example-name
	font-size: 32px
	margin: 20px 0
.demo
	margin: 50px 0
	position: relative
.typeahead, .tt-query, .tt-hint
	border: 2px solid #CCCCCC
	border-radius: 8px 8px 8px 8px
	font-size: 24px
	height: 30px
	line-height: 30px
	outline: medium none
	padding: 8px 12px
	width: 396px
.typeahead
	background-color: #FFFFFF
	&:focus
		border: 2px solid #0097CF
.tt-query
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
.tt-hint
	color: #999999
.tt-dropdown-menu
	background-color: #FFFFFF
	border: 1px solid rgba(0, 0, 0, 0.2)
	border-radius: 8px 8px 8px 8px
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
	margin-top: 12px
	padding: 8px 0
	width: 422px
.tt-suggestion
	font-size: 18px
	line-height: 24px
	padding: 3px 20px
.tt-suggestion.tt-cursor
	background-color: #0097CF
	color: #FFFFFF
.tt-suggestion p
	margin: 0
.gist
	font-size: 14px
.example-twitter-oss .tt-suggestion
	padding: 8px 20px
.example-twitter-oss .tt-suggestion + .tt-suggestion
	border-top: 1px solid #CCCCCC
.example-twitter-oss .repo-language
	float: right
	font-style: italic
.example-twitter-oss .repo-name
	font-weight: bold
.example-twitter-oss .repo-description
	font-size: 14px
.example-sports .league-name
	border-bottom: 1px solid #CCCCCC
	margin: 0 20px 5px
	padding: 3px 0
.example-arabic .tt-dropdown-menu
	text-align: right

















//Ancho de pantalla de un iPad mini en horizontal (1024px)
//@media screen and (max-width: 1024px)
@media screen and (max-width: 1024px)
	header nav .text
		width: 1000px

	//#secStartInfo
	//	max-width: 718px
		








//Ancho de pantalla de un Nexus 7 2 en horizontal (960px)
//@media screen and (max-width: 960px)
@media screen and (max-width: 960px)
	header nav .text
		width: 740px

	//#secStartInfo
	//	max-width: 654px








//Ancho de pantalla de una Galaxy Tab 7.7, 8.9 y 10.1 en vertical (800px)
//@media screen and (max-width: 800px)
@media screen and (max-width: 800px)
	header nav .text
		width: 740px

	//#secStartInfo
	//	max-width: 494px





//Ancho de pantalla de un iPad mini en vertical (768px)
//@media screen and (max-width: 768px)
@media screen and (max-width: 768px)
	header nav .text
		width: 740px

	//#secStartInfo
	//	max-width: 464px
	.evolutions
		.evolution-chain
			.transition
				max-width: 150px
				//		.line
				//			background: red
				//			//width: 100px






//Ancho de pantalla de un Nexus 4 o 5 en horizontal (640px)
//@media screen and (max-width: 640px)
@media screen and (max-width: 640px)
	header nav .text
		width: 548px

	//#secImage img
	//	width: 200px
	//	height: 200px
	#secImage
		max-width: 200px
		max-height: 200px
	#secStartInfo
	//	max-width: 434px
		max-height: 192px

	.ability-general
		padding-left: 8px
		padding-right: 8px
		//background: purple
		//color: white










//Ancho de pantalla de un Nexus 7 2 en vertical (600px)
//@media screen and (max-width: 600px)
@media screen and (max-width: 600px)
	header nav .text
		width: 548px

	//#secStartInfo
	//	max-width: 394px			






//Ancho de pantalla de un iPhone 5 en horizontal (568px)
//@media screen and (max-width: 568px)
@media screen and (max-width: 568px)
	header nav .text
		width: 548px

	//#secStartInfo
	//	max-width: 362px
	.evolutions
		.evolution-chain
			.transition
				max-width: 100px






//Ancho de pantalla de un Nokia Lumia 7X0, 8XX y 900 en horizontal (533px)
//@media screen and (max-width: 533px)
@media screen and (max-width: 533px)
	header nav .text
		width: 460px

	//#secImage img
	//	width: 150px
	//	height: 150px
	#secImage
		//max-width: 150px
		//max-height: 150px
		max-width: 210px
		max-height: 210px
	//#secStartInfo
	//	max-width: 377px
	
	//max-height: 142px







//Ancho de pantalla de un iPhone 4 en horizontal (480px)
//@media screen and (max-width: 480px)
@media screen and (max-width: 480px)
	header nav .text
		width: 460px

	//#secStartInfo
	//	max-width: 324px
	.stats
		max-width: 150px
		min-height: 150px
	.evolutions
		.evolution-chain
			.transition
				max-width: 90px
		





//Ancho de pantalla de una Galaxy Note en vertical (414px)
//ates ancho de pantalla de una Galaxy Note en vertical (400px)
//@media screen and (max-width: 400px)
@media screen and (max-width: 414px)
	header nav .text
		width: 300px

	//#secImage img
	//	//max-width: 100%
	//	width: 100%
	//	height: 100%

	#secFirstLook
		text-align: center
		#secImage
			//width: 400px !important
			//height: 400px !important
			max-width: 100%
			max-height: 100%
		#secStartInfo
			text-align: left
			width: 100%
			//max-height: 130px
			//max-width: 100%
			//max-width: 398px
			//margin-left: -2px
	//#secFirstLook
	//		background: blue
	//		display: block
	//		position: relative
	//		section
	//			display: inline-block
	//			vertical-align: top
	//			margin-right: -2px
	//			margin-left: 0
	.evolutions
		.evolution-chain
			text-align: left
			padding-left: 10px
			.stage-current, .stage-passed, .stage-next
				display: block !important
				//margin-right: 60px
			.transition
				display: block !important
				margin: 0
				//max-width: 100%
				text-align: center
				margin-left: 0px !important
				margin-right: 0px !important
				margin-top: -8px
				margin-bottom: -8px
				max-width: 100px
				max-height: 100px
				.line, .line-passed
					margin-top: 0px !important
					//background: red
					transform: rotate(90deg)
					top: 30%
					position: relative
					//width: 40px
					//min-height: 100%
					span, img, .pokemon
						transform: rotate(-90deg)
						//vertical-align: middle
				.line-desc
					position: absolute
					top: 30%
					text-align: left
					left: 100%
					width: 120px
					font-size: .8em !important
					
			//	max-width: 150px







//Ancho de pantalla de un Nexus 4 en vertical (384px)
//@media screen and (max-width: 384px)
@media screen and (max-width: 384px)
	header nav .text
		width: 300px

	//#secFirstLook
	//	#secStartInfo
	//		max-width: 382px









//Ancho de pantalla de un Nexus 5 en vertical (360px)
//@media screen and (max-width: 360px)
@media screen and (max-width: 360px)
	header nav .text
		width: 300px

	//#secFirstLook
	//	#secStartInfo
	//		max-width: 358px















//Ancho de pantalla de un iPhone 4 o 5 en vertical (320px)
//@media screen and (max-width: 320px)
@media screen and (max-width: 320px)
	header nav .text
		width: 300px

	//#secFirstLook
	//	#secStartInfo
	//		max-width: 318px



