@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-add6:before {
	content: "\e000";
}
.flaticon-ascending11:before {
	content: "\e001";
}
.flaticon-camera70:before {
	content: "\e002";
}
.flaticon-compact-disc1:before {
	content: "\e003";
}
.flaticon-cross6:before {
	content: "\e004";
}
.flaticon-cube27:before {
	content: "\e005";
}
.flaticon-cubes6:before {
	content: "\e006";
}
.flaticon-facebook30:before {
	content: "\e007";
}
.flaticon-female204:before {
	content: "\e008";
}
.flaticon-go10:before {
	content: "\e009";
}
.flaticon-heart374:before {
	content: "\e00a";
}
.flaticon-level:before {
	content: "\e00b";
}
.flaticon-male201:before {
	content: "\e00c";
}
.flaticon-nintendo5:before {
	content: "\e00d";
}
.flaticon-question30:before {
	content: "\e00e";
}
.flaticon-raindrops2:before {
	content: "\e00f";
}
.flaticon-right244:before {
	content: "\e010";
}
.flaticon-right86:before {
	content: "\e011";
}
.flaticon-shield9:before {
	content: "\e012";
}
.flaticon-star83:before {
	content: "\e013";
}
.flaticon-sunny25:before {
	content: "\e014";
}
.flaticon-two347:before {
	content: "\e015";
}
.flaticon-up51:before {
	content: "\e016";
}
